In [ ]:
import pandas as pd

file_path = "../data/raw/1. RIE OC1.xlsx"
rie = pd.read_excel(file_path, sheet_name="1. RIE", header=9)
rie.head()

c:\Users\Fredy\Desktop\minera_la_poderosa_incimmet\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,FECHA,TURNO,SUPERVISOR,PLANNER,COD EQ MINA,COD EQ INC,NRO DE OT,DESCRIPCION,SISTEMA FALLA,FALLA,...,Observación,Operaciones,OT,TECNICO,HRS. ESPERA,HRS. TALLER,HRS TALLER AFECTA,FAMILIA,PROG,PARADA
0,2023-01-01,DIA,K. TOVAR,K. TOVAR,J-201,JF-I-09,S/R,H.INSPECCIÓN,Mantenimiento_Preventivo,Inspección,...,S/R,AVANCE,NaN,NaN,0.0,0.5,0.5,JF,P,0
1,2023-01-01,DIA,K. TOVAR,K. TOVAR,J-212,JF-T-08,S/R,H.INSPECCIÓN,Mantenimiento_Preventivo,Inspección,...,S/R,AVANCE,NaN,NaN,0.0,0.5,0.5,JF,P,0
2,2023-01-01,DIA,K. TOVAR,K. TOVAR,B-202,EM-I-11,S/R,H.INSPECCIÓN,Mantenimiento_Preventivo,Inspección,...,S/R,AVANCE,NaN,NaN,0.0,0.5,0.5,EM,P,0
3,2023-01-01,DIA,K. TOVAR,K. TOVAR,SC-208,SC-I-08,S/R,H.INSPECCIÓN,Mantenimiento_Preventivo,Inspección,...,S/R,AVANCE,NaN,NaN,0.0,0.5,0.5,SC,P,0
4,2023-01-01,DIA,K. TOVAR,K. TOVAR,SC-210,SC-I-13,S/R,H.INSPECCIÓN,Mantenimiento_Preventivo,Inspección,...,S/R,AVANCE,NaN,NaN,0.0,0.5,0.5,SC,P,0

In [9]:
rie = rie.dropna(axis=1, how="all")
rie = rie.dropna(subset=["FECHA"]) 

rie["FECHA"] = pd.to_datetime(rie["FECHA"], errors="coerce")

num_cols = ["HRS. ESPERA", "HRS. TALLER", "HRS TALLER AFECTA", "PARADA"]
for c in num_cols:
    if c in rie.columns:
        rie[c] = pd.to_numeric(rie[c], errors="coerce").fillna(0)

In [10]:
# Para horometros
raw_horo = pd.read_excel(file_path, sheet_name="2. HOROMETROS", header=None)
raw_horo.head(20)

c:\Users\Fredy\Desktop\minera_la_poderosa_incimmet\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,NaN,HORÓMETROS EQUIPOS - INCIMMET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Área,Mantenimiento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Editor,Piero Barrios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Proyecto,Cerro Lindo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Fecha Actual,2023-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1900-01-01 00:00:00,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
7,NaN,1931-03-05 00:00:00,11387,11387,11387,11387,113870,0,19117,52017.12,...,0,11387,2603.71,0,9355,4784.5,0,11387,0,4784.5
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,FECHA,TURNO,COD EQ MINA,COD EQ INC,FAMILIA,HORAS PROGRAMADAS,H.DIESEL INICIAL,H.DIESEL FINAL,TOTAL H. DIESEL,...,H. PERCUSION FINAL BRAZO 2,TOTAL H. PERC BRAZO 2,TOTAL MAX PERCUSION,H. ELECTRICO 1 INICIAL,H. ELECTRICO 1 FINAL,TOTAL H. ELECTRICO 1,H. ELECTRICO 2 INICIAL,H. ELECTRICO 2 FINAL,TOTAL H. ELECTRICO 2,TOTAL MAX ELECTRICO
10,NaN,2023-01-01 00:00:00,DIA,J-201,JF-I-09,JF,10,3891,3892,1,...,NaN,0,1.4,3714,3715.4,1.4,0,0,0,1.4
11,NaN,2023-01-01 00:00:00,DIA,J-212,JF-T-08,JF,10,1496,1496,0,...,NaN,0,3.4,3889,3896.4,7.4,0,0,0,7.4
12,NaN,2023-01-01 00:00:00,DIA,B-202,EM-I-11,EM,10,4282.3,4283.6,1.3,...,NaN,0,0.8,5842.3,5845.1,2.8,0,0,0,2.8
13,NaN,2023-01-01 00:00:00,DIA,SC-208,SC-I-08,SC,10,49.6,56.9,7.3,...,NaN,0,0,0,0,0,0,0,0,0
14,NaN,2023-01-01 00:00:00,DIA,SC-210,SC-I-13,SC,10,7465.7,7473,7.3,...,NaN,0,0,0,0,0,0,0,0,0
15,NaN,2023-01-01 00:00:00,DIA,SC-221,SC-T-21,SC,10,2458,2463.7,5.7,...,NaN,0,0,0,0,0,0,0,0,0
16,NaN,2023-01-01 00:00:00,DIA,SC-223,SC-T-22,SC,10,1777,1783.5,6.5,...,NaN,0,0,0,0,0,0,0,0,0
17,NaN,2023-01-01 00:00:00,DIA,LC-204,LC-I-01,LC,10,4691.9,4695.8,3.9,...,NaN,0,0,0,0,0,0,0,0,0
18,NaN,2023-01-01 00:00:00,DIA,MX-205,MX-I-03,MX,10,6868.3,6869.9,1.6,...,NaN,0,0,0,0,0,0,0,0,0
19,NaN,2023-01-01 00:00:00,DIA,MX-218,MX-T-03,MX,10,3719,3721,2,...,NaN,0,0,0,0,0,0,0,0,0

In [11]:
horo = pd.read_excel(file_path, sheet_name="2. HOROMETROS", header=9)
horo.head()

c:\Users\Fredy\Desktop\minera_la_poderosa_incimmet\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,FECHA,TURNO,COD EQ MINA,COD EQ INC,FAMILIA,HORAS PROGRAMADAS,H.DIESEL INICIAL,H.DIESEL FINAL,TOTAL H. DIESEL,...,H. PERCUSION FINAL BRAZO 2,TOTAL H. PERC BRAZO 2,TOTAL MAX PERCUSION,H. ELECTRICO 1 INICIAL,H. ELECTRICO 1 FINAL,TOTAL H. ELECTRICO 1,H. ELECTRICO 2 INICIAL,H. ELECTRICO 2 FINAL,TOTAL H. ELECTRICO 2,TOTAL MAX ELECTRICO
0,NaN,2023-01-01,DIA,J-201,JF-I-09,JF,10,3891.0,3892.0,1.0,...,NaN,0,1.4,3714.0,3715.4,1.4,0,0,0,1.4
1,NaN,2023-01-01,DIA,J-212,JF-T-08,JF,10,1496.0,1496.0,0.0,...,NaN,0,3.4,3889.0,3896.4,7.4,0,0,0,7.4
2,NaN,2023-01-01,DIA,B-202,EM-I-11,EM,10,4282.3,4283.6,1.3,...,NaN,0,0.8,5842.3,5845.1,2.8,0,0,0,2.8
3,NaN,2023-01-01,DIA,SC-208,SC-I-08,SC,10,49.6,56.9,7.3,...,NaN,0,0.0,0.0,0.0,0.0,0,0,0,0.0
4,NaN,2023-01-01,DIA,SC-210,SC-I-13,SC,10,7465.7,7473.0,7.3,...,NaN,0,0.0,0.0,0.0,0.0,0,0,0,0.0

In [12]:
horo = horo.loc[:, ~horo.columns.astype(str).str.contains("^Unnamed")]

In [13]:
horo["FECHA"] = pd.to_datetime(horo["FECHA"], errors="coerce")
cols_num = [
    "HORAS PROGRAMADAS",
    "TOTAL H. DIESEL",
    "TOTAL MAX ELECTRICO"
]
for c in cols_num:
    if c in horo.columns:
        horo[c] = pd.to_numeric(horo[c], errors="coerce").fillna(0)

horo["HRS_TRAB"] = horo["TOTAL H. DIESEL"] + horo["TOTAL MAX ELECTRICO"]

horo["UT"] = np.where(
    horo["HORAS PROGRAMADAS"] > 0,
    horo["HRS_TRAB"] / horo["HORAS PROGRAMADAS"],
    0
)

In [14]:
horo.head()

,FECHA,TURNO,COD EQ MINA,COD EQ INC,FAMILIA,HORAS PROGRAMADAS,H.DIESEL INICIAL,H.DIESEL FINAL,TOTAL H. DIESEL,H. PERCUSION INCIAL BRAZO 1,...,TOTAL MAX PERCUSION,H. ELECTRICO 1 INICIAL,H. ELECTRICO 1 FINAL,TOTAL H. ELECTRICO 1,H. ELECTRICO 2 INICIAL,H. ELECTRICO 2 FINAL,TOTAL H. ELECTRICO 2,TOTAL MAX ELECTRICO,HRS_TRAB,UT
0,2023-01-01,DIA,J-201,JF-I-09,JF,10,3891.0,3892.0,1.0,2588.0,...,1.4,3714.0,3715.4,1.4,0,0,0,1.4,2.4,0.24
1,2023-01-01,DIA,J-212,JF-T-08,JF,10,1496.0,1496.0,0.0,2722.4,...,3.4,3889.0,3896.4,7.4,0,0,0,7.4,7.4,0.74
2,2023-01-01,DIA,B-202,EM-I-11,EM,10,4282.3,4283.6,1.3,1356.7,...,0.8,5842.3,5845.1,2.8,0,0,0,2.8,4.1,0.41
3,2023-01-01,DIA,SC-208,SC-I-08,SC,10,49.6,56.9,7.3,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0.0,7.3,0.73
4,2023-01-01,DIA,SC-210,SC-I-13,SC,10,7465.7,7473.0,7.3,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0.0,7.3,0.73

In [ ]:
#KPI RIE
import numpy as np
#DM
rie["DM"] = (10 - rie["HRS TALLER AFECTA"]) / 10
#MTTR
rie["MTTR"] = np.where(
    rie["PROG"].astype(str).str.upper().str.strip() == "P",
    0,
    np.where(rie["PARADA"] > 0, rie["HRS TALLER AFECTA"] / rie["PARADA"], 0)
)

In [16]:
rie_agg = (
    rie.groupby(["FECHA", "TURNO", "COD EQ INC", "COD EQ MINA"], as_index=False)
    .agg(
        HRS_TALLER_AFECTA=("HRS TALLER AFECTA", "sum"),
        PARADA=("PARADA", "sum"),
        DM=("DM", "mean"),
        MTTR=("MTTR", "mean"),
        N_INTERV=("CODIGO OT", "count") if "CODIGO OT" in rie.columns else ("PARADA", "size")
    )
)

rie_agg.head()

,FECHA,TURNO,COD EQ INC,COD EQ MINA,HRS_TALLER_AFECTA,PARADA,DM,MTTR,N_INTERV
0,2023-01-01,DIA,DM-T-10,SCA-224,10.0,0,0.00,0.0,1
1,2023-01-01,DIA,DP-I-01,D-215,0.5,0,0.95,0.0,1
2,2023-01-01,DIA,EM-I-11,B-202,0.5,0,0.95,0.0,1
3,2023-01-01,DIA,JF-I-09,J-201,0.5,0,0.95,0.0,1
4,2023-01-01,DIA,JF-T-08,J-212,0.5,0,0.95,0.0,1

In [17]:
# UNE HORO + RIE
base = horo.merge(
    rie_agg,
    on=["FECHA", "TURNO", "COD EQ INC", "COD EQ MINA"],
    how="left"
)

# Si no hubo intervención, rellena con 0
for c in ["HRS_TALLER_AFECTA", "PARADA", "DM", "MTTR", "N_INTERV"]:
    if c in base.columns:
        base[c] = base[c].fillna(0)

base.head()

,FECHA,TURNO,COD EQ MINA,COD EQ INC,FAMILIA,HORAS PROGRAMADAS,H.DIESEL INICIAL,H.DIESEL FINAL,TOTAL H. DIESEL,H. PERCUSION INCIAL BRAZO 1,...,H. ELECTRICO 2 FINAL,TOTAL H. ELECTRICO 2,TOTAL MAX ELECTRICO,HRS_TRAB,UT,HRS_TALLER_AFECTA,PARADA,DM,MTTR,N_INTERV
0,2023-01-01,DIA,J-201,JF-I-09,JF,10,3891.0,3892.0,1.0,2588.0,...,0,0,1.4,2.4,0.24,0.5,0.0,0.95,0.0,1.0
1,2023-01-01,DIA,J-212,JF-T-08,JF,10,1496.0,1496.0,0.0,2722.4,...,0,0,7.4,7.4,0.74,0.5,0.0,0.95,0.0,1.0
2,2023-01-01,DIA,B-202,EM-I-11,EM,10,4282.3,4283.6,1.3,1356.7,...,0,0,2.8,4.1,0.41,0.5,0.0,0.95,0.0,1.0
3,2023-01-01,DIA,SC-208,SC-I-08,SC,10,49.6,56.9,7.3,0.0,...,0,0,0.0,7.3,0.73,0.5,0.0,0.95,0.0,1.0
4,2023-01-01,DIA,SC-210,SC-I-13,SC,10,7465.7,7473.0,7.3,0.0,...,0,0,0.0,7.3,0.73,0.5,0.0,0.95,0.0,1.0

In [ ]:
#MTBF Y R(T)
base["MTBF"] = np.where(
    base["PARADA"] > 0,
    base["HRS_TRAB"] / base["PARADA"],
    base["HRS_TRAB"]
)

base["R_t"] = np.exp((-10 * base["UT"]) / base["MTBF"].replace(0, np.nan))
base["R_t"] = base["R_t"].fillna(0)

In [19]:
#DM
def semaforo_dm(x):
    if x <= 0.80: return "MALO 🔴"
    if x <= 0.85: return "MEDIO 🟡"
    return "BUENO 🟢"

base["DM_STATUS"] = base["DM"].apply(semaforo_dm)

In [20]:
#R(T)
def semaforo_rt(x):
    if x <= 0.50: return "MALO 🔴"
    if x <= 0.71: return "MEDIO 🟡"
    return "BUENO 🟢"

base["RT_STATUS"] = base["R_t"].apply(semaforo_rt)

In [21]:
base.to_csv("../data/procesados/base_kpis_turno.csv", index=False)

In [22]:
kpis_equipo = (
    base.groupby("COD EQ INC", as_index=False)
    .agg(
        DM=("DM", "mean"),
        UT=("UT", "mean"),
        MTBF=("MTBF", "mean"),
        MTTR=("MTTR", "mean"),
        R_t=("R_t", "mean"),
        PARADAS=("PARADA", "sum"),
        HRS_TRAB=("HRS_TRAB", "sum"),
        INTERV=("N_INTERV", "sum")
    )
)

kpis_equipo.to_csv("../data/procesados/kpis_por_equipo.csv", index=False)
kpis_equipo.sort_values("DM").head(10)

,COD EQ INC,DM,UT,MTBF,MTTR,R_t,PARADAS,HRS_TRAB,INTERV
19,SC-T-21,0.757737,0.575267,5.744856,1.820096,0.303338,89.0,1397.90,287.0
4,DP-T-07,0.800089,0.546759,5.467589,1.387500,0.308756,24.0,612.37,121.0
1,DM-T-10,0.818228,0.323601,3.185490,1.217483,0.272621,107.0,925.50,372.0
12,LC-T-04,0.825414,0.386973,3.744388,0.915079,0.245772,124.0,1137.70,401.0
23,SC-T-28,0.832960,0.525896,5.215672,1.021144,0.314992,40.0,704.70,153.0
2,DP-I-01,0.836954,0.535753,5.352740,0.890388,0.313320,159.0,3911.00,828.0
8,JF-T-12,0.845555,0.323235,3.206863,0.771936,0.264243,102.0,879.20,352.0
3,DP-T-06,0.847855,0.554160,5.526639,0.827459,0.333558,123.0,2704.30,576.0
17,SC-I-08,0.871090,0.634274,6.323699,0.602683,0.344617,161.0,4630.20,843.0
6,JF-I-09,0.871720,0.329644,3.284863,0.581130,0.279608,158.0,2406.40,852.0

In [23]:
base[["MTBF", "R_t"]].head()

   MTBF       R_t
0   2.4  0.367879
1   7.4  0.367879
2   4.1  0.367879
3   7.3  0.367879
4   7.3  0.367879

In [24]:
#ALERTAS AUTOMATICAS
# DM BAJO <0.85
umbral_dm = 0.85
alert_dm = (
    kpis_equipo[kpis_equipo["DM"] < umbral_dm]
    .sort_values("DM")
)
alert_dm.head(20)

,COD EQ INC,DM,UT,MTBF,MTTR,R_t,PARADAS,HRS_TRAB,INTERV
19,SC-T-21,0.757737,0.575267,5.744856,1.820096,0.303338,89.0,1397.90,287.0
4,DP-T-07,0.800089,0.546759,5.467589,1.387500,0.308756,24.0,612.37,121.0
1,DM-T-10,0.818228,0.323601,3.185490,1.217483,0.272621,107.0,925.50,372.0
12,LC-T-04,0.825414,0.386973,3.744388,0.915079,0.245772,124.0,1137.70,401.0
23,SC-T-28,0.832960,0.525896,5.215672,1.021144,0.314992,40.0,704.70,153.0
2,DP-I-01,0.836954,0.535753,5.352740,0.890388,0.313320,159.0,3911.00,828.0
8,JF-T-12,0.845555,0.323235,3.206863,0.771936,0.264243,102.0,879.20,352.0
3,DP-T-06,0.847855,0.554160,5.526639,0.827459,0.333558,123.0,2704.30,576.0

In [25]:
#R(T)<0.50
umbral_rt = 0.50
alert_rt = (
    kpis_equipo[kpis_equipo["R_t"] < umbral_rt]
    .sort_values("R_t")
)
alert_rt.head(20)

,COD EQ INC,DM,UT,MTBF,MTTR,R_t,PARADAS,HRS_TRAB,INTERV
13,MX-I-03,0.891243,0.288104,2.881039,0.505056,0.233025,107.0,2051.30,781.0
12,LC-T-04,0.825414,0.386973,3.744388,0.915079,0.245772,124.0,1137.70,401.0
8,JF-T-12,0.845555,0.323235,3.206863,0.771936,0.264243,102.0,879.20,352.0
1,DM-T-10,0.818228,0.323601,3.185490,1.217483,0.272621,107.0,925.50,372.0
6,JF-I-09,0.871720,0.329644,3.284863,0.581130,0.279608,158.0,2406.40,852.0
10,LC-I-01,0.899133,0.379889,3.778782,0.382196,0.295574,126.0,2059.00,648.0
16,MX-T-05,0.918876,0.446586,4.465863,0.160643,0.301395,24.0,1112.00,271.0
19,SC-T-21,0.757737,0.575267,5.744856,1.820096,0.303338,89.0,1397.90,287.0
4,DP-T-07,0.800089,0.546759,5.467589,1.387500,0.308756,24.0,612.37,121.0
2,DP-I-01,0.836954,0.535753,5.352740,0.890388,0.313320,159.0,3911.00,828.0
23,SC-T-28,0.832960,0.525896,5.215672,1.021144,0.314992,40.0,704.70,153.0
15,MX-T-03,0.888952,0.480685,4.799315,0.397123,0.331966,78.0,3509.00,777.0
3,DP-T-06,0.847855,0.554160,5.526639,0.827459,0.333558,123.0,2704.30,576.0
0,DM-I-05,0.885715,0.449491,4.482358,0.396855,0.338105,132.0,2382.30,634.0
9,JF-T-13,0.882225,0.433428,4.334278,0.059966,0.339435,15.0,840.85,207.0
5,EM-I-11,0.888089,0.492918,4.864452,0.230183,0.339520,220.0,3598.30,929.0
22,SC-T-26,0.893275,0.617988,6.179877,0.241786,0.339930,26.0,3009.60,507.0
11,LC-T-03,0.901142,0.488367,4.870717,0.132337,0.340571,30.0,1225.80,275.0
7,JF-T-08,0.941296,0.477778,4.777778,0.119444,0.340629,7.0,258.00,61.0
24,TH-I-02,0.895548,0.552685,5.518562,0.173790,0.342549,83.0,4034.60,785.0

In [26]:
#MUCHAS PARADAS
umbral_paradas = 100
alert_paradas = (
    kpis_equipo[kpis_equipo["PARADAS"] >= umbral_paradas]
    .sort_values("PARADAS", ascending=False)
)
alert_paradas.head(20)

,COD EQ INC,DM,UT,MTBF,MTTR,R_t,PARADAS,HRS_TRAB,INTERV
5,EM-I-11,0.888089,0.492918,4.864452,0.230183,0.339520,220.0,3598.3,929.0
20,SC-T-22,0.887505,0.578959,5.770068,0.504178,0.343609,180.0,4226.4,881.0
17,SC-I-08,0.871090,0.634274,6.323699,0.602683,0.344617,161.0,4630.2,843.0
2,DP-I-01,0.836954,0.535753,5.352740,0.890388,0.313320,159.0,3911.0,828.0
6,JF-I-09,0.871720,0.329644,3.284863,0.581130,0.279608,158.0,2406.4,852.0
0,DM-I-05,0.885715,0.449491,4.482358,0.396855,0.338105,132.0,2382.3,634.0
10,LC-I-01,0.899133,0.379889,3.778782,0.382196,0.295574,126.0,2059.0,648.0
12,LC-T-04,0.825414,0.386973,3.744388,0.915079,0.245772,124.0,1137.7,401.0
3,DP-T-06,0.847855,0.554160,5.526639,0.827459,0.333558,123.0,2704.3,576.0
1,DM-T-10,0.818228,0.323601,3.185490,1.217483,0.272621,107.0,925.5,372.0
13,MX-I-03,0.891243,0.288104,2.881039,0.505056,0.233025,107.0,2051.3,781.0
8,JF-T-12,0.845555,0.323235,3.206863,0.771936,0.264243,102.0,879.2,352.0

In [27]:
#NO EJECUCUION DE MTTOS PROGRAMADOS
rie["ESTADO"] = rie["ESTADO"].astype(str).str.upper().str.strip()
rie["PROG"] = rie["PROG"].astype(str).str.upper().str.strip()
no_ejecutados = rie[(rie["PROG"] == "P") & (rie["ESTADO"] != "INTERVENIDO")]
alert_no_ej = (
    no_ejecutados.groupby("COD EQ INC", as_index=False)
    .size()
    .rename(columns={"size": "P_NO_EJECUTADOS"})
    .sort_values("P_NO_EJECUTADOS", ascending=False)
)
alert_no_ej.head(20)

   COD EQ INC  P_NO_EJECUTADOS
6     JF-T-13               80
5     JF-I-09               80
16    SC-T-26               79
7     LC-I-01               78
10    MX-I-05               78
15    SC-T-24               77
1     DP-I-01               76
13    SC-I-13               76
8     LC-T-03               75
4     EM-I-11               73
14    SC-T-22               73
3     DP-T-07               72
0     DM-I-05               71
2     DP-T-06               71
18    TH-I-02               69
17    SC-T-28               67
11    MX-T-03               67
9     MX-I-03               60
12    SC-I-08               60

In [28]:
alert_dm.to_csv("../data/procesados/alerta_dm_bajo.csv", index=False)
alert_rt.to_csv("../data/procesados/alerta_confiabilidad_baja.csv", index=False)
alert_paradas.to_csv("../data/procesados/alerta_paradas_altas.csv", index=False)
alert_no_ej.to_csv("../data/procesados/alerta_preventivos_no_ejecutados.csv", index=False)